<div class="body">
    <div class="heading"><b>Our</b> Testimonials</div>
    <div class="wrapper">
        <div class="container" *ngFor = "let testimonial of testimonials">
            <div class="profile">
                <div class="imgBox">
                    <img [src]="'../../../assets/' + testimonial.image" alt="">
                </div>
                <h2>{{ testimonial.name }}</h2>
            </div>
            <p><fa-icon [icon]="faQuoteLeft" class="left"></fa-icon>{{ testimonial.quote }}<fa-icon [icon]="faQuoteRight" class="right"></fa-icon></p>
            <div class="social">
                <fa-icon [icon]="faTwitter"></fa-icon>
                <fa-icon [icon]="faYoutube"></fa-icon>
                <fa-icon [icon]="faInstagram"></fa-icon>
            </div>
        </div>
    </div>
</div>