<div class="body">
    <section class="container">
        <div class="testimonial">
            <div class="testi-content">
                <div class="slide">
                    <img src="../../../assets/testimonial/person1.jpg" alt="" class="image">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat a perferendis aut! Et officia dignissimos id architecto laborum, magnam ex reiciendis commodi accusamus! Modi ut placeat commodi? Nobis, voluptates dolores.</p>
                    <fa-icon [icon]="faQuoteLeft" class="quote-icon"></fa-icon>

                    <div class="details">
                        <span class="name">কালু Anjan</span>
                        <span class="job">Developer</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>