<div class="body">
    <footer>
        <div class="container">
            <div class="sec aboutus">
                <h2>About Us</h2>
                <p>At cars.com, we provide seamless and reliable car rental services, offering a diverse fleet of vehicles to suit your every need. Enjoy a hassle-free and comfortable journey with us.</p>
                <ul class="sci">
                    <li><a href=""><fa-icon [icon]="faFacebook"></fa-icon></a></li>
                    <li><a href=""><fa-icon [icon]="faInstagram"></fa-icon></a></li>
                    <li><a href=""><fa-icon [icon]="faTwitter"></fa-icon></a></li>
                    <li><a href=""><fa-icon [icon]="faYoutube"></fa-icon></a></li>
                </ul>
            </div>
            <div class="sec quicklinks">
                <h2>Support</h2>
                <ul>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Help</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="sec quicklinks">
                <h2>Rent</h2>
                <ul>
                    <li><a href="">Check Rental Locations</a></li>
                    <li><a href="">Rent a car</a></li>
                </ul>
            </div>
            <div class="sec contact">
                <h2>Contact us</h2>
                <ul class="info">
                    <li>
                        <span><fa-icon [icon]="faPhone"></fa-icon></span><p><a href="tel:+180012345678">+1800 1234 5678</a></p>
                    </li>
                    <li>
                        <span><fa-icon [icon]="faEnvelope"></fa-icon></span><p><a href="mailto:helpline@cars.com">helpline@cars.com</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="copyrightText">
        <p>Copyright 2023 cars.com. All Rights Reserved.</p>
    </div>
</div>